@use "../reset";
@use "../var" as *;

/* ===============================================
   *  制作実績
   =============================================== */
.post-type-archive-works,
.tax-works-category {
  .works {
    padding-top: 160px;
    @media (max-width: $tabletBreakPoint) {
      padding-top: 100px;
    }

    .section-title {
      &::after {
        margin-top: 32px;
        content: "";
        display: block;
        width: 60px;
        height: 1px;
        background: $colorGreen;
        margin-inline: auto;

        @media (max-width: $tabletBreakPoint) {
          margin-top: 16px;
        }
      }
    }

    .works-pagination {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid $colorGreen;
        font-family: $fontEn;
        font-size: 18px;
        color: $colorGreen;
        transition: all 0.5s;

        &.current {
          pointer-events: none;
          border-color: $colorGreen;
          color: $colorWhite;
          background: $colorGreen;
        }

        @media (hover: hover) {
          &:hover {
            border-color: $colorGreen;
            color: $colorWhite;
            background: $colorGreen;
          }
        }
      }
    }
  }
}
