@use "../reset";
@use "../var" as *;

.home {
  /* ===============================================
   *  フロントページ ファーストビュー
   =============================================== */
  .first-view {
    width: 100%;
    height: 100vh;
    background-color: $colorWhite;
    background-image: url(./assets/images/front/dot-grid-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .first-view__inner {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: $tabletBreakPoint) {
        align-items: start;
      }

      .first-view__title-area {
        margin-right: 15vw;

        @media (max-width: $tabletBreakPoint) {
          margin-right: 8vw;
          margin-top: 200px;
        }

        @media (max-width: $spBreakPoint) {
          margin-top: 120px;
          margin-right: 0;
          margin-inline: auto;
        }

        .first-view__title {
          font-family: $fontEn;
          font-size: 80px;
          line-height: 1;
          color: $colorGreen;

          @media (max-width: $tabletBreakPoint) {
            font-size: 11vw;
          }

          @media (max-width: $spBreakPoint) {
            font-size: 14vw;
          }
        }
        .first-view__copy {
          margin-top: 24px;
          font-size: 16px;
          line-height: 2;
          font-weight: 300;

          @media (max-width: $spBreakPoint) {
            margin-top: 1.8vw;
            font-size: clamp(13px, 3vw, 24px);
          }
        }
        .button {
          z-index: 1;
          margin-top: 24px;
          background: $colorWhite;

          @media (hover: hover) {
            &:hover {
              background: $colorGreen;
            }
          }
        }
      }
      .first-view__image {
        position: absolute;
        object-fit: cover;

        &--1 {
          height: auto;
          width: 16vw;
          top: 25%;
          left: 80px;
        }
        &--2 {
          height: auto;
          width: 20vw;
          top: 10%;
          left: 30%;
        }
        &--3 {
          height: auto;
          width: 200px;
          right: 80px;
          bottom: 40px;
        }

        @media (max-width: 1200px) {
          &--2 {
            display: none;
          }
        }

        @media (max-width: $tabletBreakPoint) {
          &--1 {
            width: 25vw;
            left: 20px;
          }
          &--3 {
            width: 24vw;
          }
        }
        @media (max-width: $spBreakPoint) {
          &--1 {
            width: clamp(100px, 33vw, 160px);
            top: auto;
            bottom: 20px;
            left: 20px;
          }
          &--3 {
            width: 40vw;
            bottom: -64px;
            right: 20px;
          }
        }
        @media (max-width: 400px) {
          &--1 {
            width: clamp(100px, 33vw, 110px);
            left: 8px;
          }
          &--3 {
            right: 8px;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .scroll {
        position: absolute;
        right: 50%;
        bottom: 140px;
        font-size: 16px;
        font-family: $fontEn;
        color: $colorGreen;
      }
      /* 線のアニメーション部分 */
      .scroll::before {
        animation: scroll 2s infinite;
        background-color: $colorGreen;
        bottom: -108px;
        content: "";
        height: 100px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 1px;
      }
      /* 線のアニメーション */
      @keyframes scroll {
        0% {
          transform: scale(1, 0);
          transform-origin: 0 0;
        }
        50% {
          transform: scale(1, 1);
          transform-origin: 0 0;
        }
        51% {
          transform: scale(1, 1);
          transform-origin: 0 100%;
        }
        100% {
          transform: scale(1, 0);
          transform-origin: 0 100%;
        }
      }
    }
  }

  /* ===============================================
   *  フロントページ ニュース
   =============================================== */
  .front-news {
    width: 100%;
    padding: 40px;
    background: #f6f6f6;

    @media (max-width: $tabletBreakPoint) {
      padding: 40px 20px;
    }

    .front-news__inner {
      width: 100%;
      max-width: 1200px;
      margin-inline: auto;
      display: flex;
      gap: 64px;

      @media (max-width: $tabletBreakPoint) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }

      .front-news__title-area {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: $tabletBreakPoint) {
          gap: 24px;
          align-items: center;
        }

        .front-news__title {
          position: relative;
          font-size: 24px;
          font-family: $fontEn;
          color: $colorGreen;
          text-transform: uppercase;
          letter-spacing: 0.1em;

          &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: -8px;
            left: 0;
            width: 60px;
            height: 1px;
            background: $colorGreen;

            @media (max-width: $tabletBreakPoint) {
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        .button {
          @media (max-width: $tabletBreakPoint) {
            margin-inline: auto;
          }
        }
      }

      .front-news__list {
        @media (max-width: $tabletBreakPoint) {
          width: 100%;
        }

        .front-news__item {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 24px;
          padding-block: 20px;
          padding-inline: 16px;
          border-bottom: 1px solid $colorGray;
          transition: all 0.5s;

          @media (max-width: $tabletBreakPoint) {
            padding-inline: 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
          }

          @media (hover: hover) {
            &:hover {
              border-bottom: 1px solid $colorGreen;

              .front-news__date {
                color: $colorGreen;
              }

              .front-news__category {
                border-color: $colorGreen;
                color: $colorWhite;
                background: $colorGreen;
              }

              .front-news__title {
                color: $colorGreen;
              }
            }
          }

          .front-news__item__information {
            display: contents;

            @media (max-width: $tabletBreakPoint) {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              gap: 12px;
            }
          }

          &:first-child {
            padding-top: 0;
          }

          .front-news__date {
            flex-shrink: 0;
            display: inline-block;
            width: 80px;
            font-size: 12px;
            color: $colorGrayDark;
            transition: all 0.5s;
          }

          .front-news__category {
            flex-shrink: 0;
            width: 120px;
            height: 24px;
            border-radius: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 500;
            font-family: $fontEn;
            color: $colorGreen;
            border: 1px solid $colorGreen;
            transition: all 0.5s;
          }

          .front-news__title {
            width: 100%;
            font-size: 14px;
            line-height: 2;
            transition: all 0.5s;

            @media (max-width: $tabletBreakPoint) {
              font-size: clamp(16px, 3vw, 28px);
            }
          }
        }
      }
    }
  }
}
