@use "../reset";
@use "../var" as *;

.page-thanks {
  .thanks {
    width: 100%;
    padding-inline: 40px;
    height: calc(100vh - 158px);
    @media (max-width: $spBreakPoint) {
      height: auto;
      padding-inline: 20px;
    }

    .thanks__inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 64px;

      @media (max-width: $spBreakPoint) {
        padding-block: 100px 40px;
        flex-direction: column;
        gap: 24px;
      }

      .thanks__text-area {
        @media (max-width: $spBreakPoint) {
          text-align: center;
        }

        .thanks__title {
          font-size: 8vw;
          font-family: $fontEn;
          color: $colorGreen;
          line-height: 1;

          @media (max-width: $spBreakPoint) {
            font-size: 14vw;
          }
        }

        .thanks__description {
          margin-top: 24px;
          font-size: 16px;
          line-height: 2;
          color: $colorText;

          @media (max-width: $spBreakPoint) {
            font-size: 14px;
          }

          a {
            color: $colorGreen;
            font-weight: 500;
            overflow-wrap: break-word;
            word-break: break-word;

            @media (hover: hover) {
              &:hover {
                text-decoration: underline;
                text-decoration-color: $colorGreen;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;
              }
            }

            @media (hover: none) {
              text-decoration: underline;
              text-decoration-color: $colorGreen;
              text-decoration-thickness: 1px;
              text-underline-offset: 4px;
            }
          }
        }

        .button {
          margin-top: 40px;

          @media (max-width: $spBreakPoint) {
            margin-inline: auto;
          }
        }
      }

      .thanks__image {
        height: 50%;
        overflow: hidden;

        @media screen and (max-width: $spBreakPoint) {
          height: auto;
          width: 50%;
          transform: translateX(-7%);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
