@use "../reset";
@use "../var" as *;

.single-news {
  .single-news-section {
    padding-inline: 40px;
    margin-top: 160px;
    padding-bottom: 80px;

    @media (max-width: $tabletBreakPoint) {
      padding-inline: 20px;
      margin-top: 100px;
      padding-bottom: 40px;
    }

    .single-news__inner {
      max-width: 800px;
      margin: 0 auto;

      .single-news__back-button {
        font-size: 14px;
        font-family: $fontEn;
        color: $colorGrayDark;
        transition: all 0.5s;
        line-height: 1;
        text-transform: uppercase;

        @media screen and (max-width: $spBreakPoint) {
          font-size: 14px;
        }

        span {
          display: inline-block;
          transform: translateY(-1px);
        }

        @media (hover: hover) {
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .single-news__information {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        @media screen and (max-width: $spBreakPoint) {
          margin-top: 40px;
        }

        .single-news__date {
          font-size: 14px;
          color: $colorGrayDark;
        }

        .separator {
          width: 1px;
          height: 24px;
          background: $colorGrayDark;
        }

        .single-news__category {
          flex-shrink: 0;
          width: fit-content;
          padding-inline: 10px;
          height: 28px;
          border-radius: 50vh;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 500;
          font-family: $fontEn;
          color: $colorGreen;
          background: $colorWhite;
          border: 1px solid $colorGreen;
          transition: all 0.5s;
        }
      }

      .single-news__title {
        margin-top: 20px;
        font-size: clamp(16px, 4vw, 40px);
        font-family: $fontEn, $fontSerif;

        @media screen and (max-width: $spBreakPoint) {
          font-size: clamp(16px, 5vw, 32px);
        }
      }

      .single-news__content-separator {
        margin-block: 24px 40px;
        width: 120px;
        height: 1px;
        background: $colorGreen;
        margin-inline: auto;
      }
    }

    .single-news__content {
      font-size: 16px;
      line-height: 2;

      @media screen and (max-width: $spBreakPoint) {
        font-size: 14px;
      }

      p {
        margin-top: 24px;
        &:first-child {
          margin-top: 0;
        }
      }

      h2 {
        margin-top: 40px;
        font-size: 24px;
        font-family: $fontEn, $fontSerif;
        color: $colorGreen;
      }

      figure {
        margin-top: 24px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      a {
        color: $colorGreen;
        overflow-wrap: break-word;
        word-break: break-word;
        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
            text-decoration-color: $colorGreen;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
          }
        }

        @media (hover: none) {
          text-decoration: underline;
          text-decoration-color: $colorGreen;
          text-decoration-thickness: 1px;
          text-underline-offset: 4px;
        }
      }
    }

    .single-news__nav {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @media screen and (max-width: 400px) {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }

      .single-news__nav-wrapper {
        display: contents;

        @media screen and (max-width: 400px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 60px;
        }
      }

      .single-news__nav-link__prev,
      .single-news__nav-link__next {
        font-size: 16px;
        font-family: $fontEn;
        color: $colorGreen;

        span {
          display: inline-block;
          transform: translateY(-1px);
        }

        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
            text-decoration-color: $colorGreen;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
          }
        }

        &.disabled {
          color: $colorGray;
          cursor: default;
          pointer-events: none;

          @media (hover: none) {
            text-decoration: none;
          }
        }
      }
    }

    .button--under440 {
      @media screen and (min-width: 400px) {
        display: none;
      }
    }

    .button--over440 {
      @media screen and (max-width: 400px) {
        display: none;
      }
    }
  }
}
